/* numbered buttons */
#status-buttons                 { color : #C0C0C0;}
#status-buttons a               { color:#00FF7F; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { color:#000; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#00BC8C; }
#status-buttons a span   { background:#FFF; }

label
{
    display: block;
    width: 156px;
    cursor: pointer;
    padding-right: 6px;
    padding-bottom: 1px;
    color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
    color: #00FFFF;
    font-family: verdana;
}